.ctn {
    @apply md:static absolute inset-0 flex flex-col overflow-auto justify-between h-full md:w-full bg-secondary px-4 py-1.5 max-w-[250px] z-40 md:max-w-[500px] transition-all duration-200;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
.ctn::-webkit-scrollbar {
    width: 0;

}

header .logo-ctn {
    @apply flex items-center pb-2 justify-between;
}

.profile-ctn {
    @apply flex gap-4 items-center;
}
.close-btn {
    @apply hover:bg-primary px-1.5 py-1 rounded-lg transition-all duration-200;
}
.saved-notes-ctn, .whiteboard-ctn {
    @apply space-y-2 border-t-2 border-primary px-1;
}
.footer-ctn {
    @apply border-t-2 border-primary px-1 py-2;
}
.main-ctn {
    @apply flex flex-col gap-2;
}